<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.ntnu.stud.fallprevention"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="internalOnly" >
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.permRead"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	
	
    <permission android:name="android.permission.permRead"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Default" android:logo="@drawable/ic_launcher">
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.WriteName" >
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.MainScreen" >
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.EventList"
            android:label="@string/title_activity_eventlist"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.EventDetail"
            android:label="@string/title_activity_eventdetail" >
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.Settings" >
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.Related"
            android:label="@string/title_activity_related"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="no.ntnu.stud.fallprevention.activity.ContactPerson"
            android:label="@string/contact_person_activity">
        </activity>
        <activity 
            android:name="no.ntnu.stud.fallprevention.activity.CreateContact"
            android:label="@string/title_activity_create_contact"> 
        </activity>
        <activity 
            android:name="no.ntnu.stud.fallprevention.activity.NewContact"
            android:label="@string/new_contact_activity" >
        </activity>
        <receiver android:name="no.ntnu.stud.fallprevention.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/awidget_provider"/>
        </receiver>	
        <receiver android:name=".service.NotificationBroadcastReceiver" android:process=":remote" />        
    </application>
</manifest>